html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Calibri Light', calibri, Arial, Helvetica, sans-serif;
    ;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
}

form {
    border: 2px solid black;
    margin: 20px auto;
    width: 75%;
    border-radius: 16px;
    box-shadow: inset 2px 6px 20px #000;
    text-shadow: 0px 1px 3px black;
    background: radial-gradient(rgb(255, 255, 255) 0%, transparent 80%),
        linear-gradient(rgb(206, 206, 206) 10%, rgb(255, 255, 255) 100%);
    padding: 12px;
    text-align: center;
    font-size: 200%;
    padding: 20px;
    display: inline-block;
}

/* estado normal do botão: */
button {
    background: mediumTurquoise;
    color: black;
    border: 1px solid #333;
    padding: 24px;
    display: inline;

}

/* cursor do mouse sobre o botão: */
button:hover {
    background: paleTurquoise;
}

/* mouse pressionado sobre o botão: */
button:active {
    background: darkSlateGrey;
    color: white;
}

/* o campo de texto, mas pode ser 
qualquer elemento de entrada: */
input {
    padding: 8px;
    border: 1px solid #333;
}

/* o campo de texto, quando em foco: */
input:focus {
    background: LightBlue;
}

/* esconde os divs que serão exibidos dinamicamente: */
#tip,
#hold,
#jk,
#focus {
    display: none;
}

/* div #focus quando o campo de texto estiver em foco:*/
input:focus~#focus {
    display: block;
    background: LightBlue;
}

/* div #tip quando o botão estiver sob o cursor do mouse: */
button:hover~#tip {
    display: block;
    background: #ff9;
}

/* div #hold quando o botão estiver pressionado: */
button:active~#hold {
    display: block;
    background: #a22;
    color: white;
}