body {
    background-image: url(../Midia/fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
/*  */
}

.Projetos.volta img{
width: 20px;
height: 20px;
}

.Projetos .volta{
    display: flex;
    position: sticky;
    color: aliceblue;
    width: 70px;
    top: 10px;
    height: 20px;
}

.voltar{
    display: flex;
    position: sticky;
    color: aliceblue;
    width: 20px;
    height: 20px;
    z-index: 10;
}

.Projetos .Yootube{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.Projetos .click{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.Projetos .volta{
    color: white;
    background-color: #696262;
    border-radius: 10px;
}

.Projetos .mqtt{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.animacao .animar{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.jornal .New{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.Projetos .forme{
    color: white;
    background-color: #696262;
    border-radius: 5px;
}

.Projetos{
    width: 1000px;
}

.Projetos .animacao{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .jornal{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .Formulário{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .Chat{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .Jogo{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .Copia{
    background-color: rgb(9, 9, 31);
    border: 2px solid #3d0b0b60;
    border-radius: 10px;
    overflow: hidden;

    padding-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.Projetos .animacao img{
 height: 175px;
}

.Projetos .jornal img{
    height: 133px;
}

.Projetos .Formulário img{
    height: 180px;
}